h4 i
{
	font-size: 40px;
}
.color_theme
{
	color: rgb(255,193,7);
}
.bandeau_gauche
{
	background-color: rgb(255,193,7);
	padding: 0px;
}
.bandeau_gauche p
{
	margin-left: 10%;
	margin-right: 10%;
}
.underline
{
	border-bottom: solid 2px rgb(255,193,7);
}
#container_main
{
	padding: 10%;
}
.titre1
{
	font-size: 55px;
}
.block_contenu
{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	padding-top: 20px;
}
.dates
{
	width: 25%;
	display: flex;
	justify-content: space-around;
	margin-right: 20px;
}
.block_main
{
	border-top:solid 2px rgb(255,193,7);
}
h3
{
	background-color: rgb(66,66,66);
	color: rgb(255,193,7);
	text-align: center;
}