.petit_point /*Petit point avant la date des expériences/formation ect*/
{
	font-size: 10px;
}
h2 i /* Style des icone de fontawesome */
{
	font-size: 30px;
	margin-right: 25px;
}
h1, h2
{
	color: black;
}
main
{
	padding: 10%;
}
h2
{
	text-transform: uppercase;
}
h3
{
	background-color: rgb(66,66,66);
	color: rgb(255,193,7);
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
}
h6
{
	font-size: 20px;
}
.color_theme /* Couleur principale du CV*/
{
	color: rgb(255,193,7);
}
#block1 /* Structure du bandeau gauche*/
{
	background-color: rgb(255,193,7);
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#block1 p /* Paragraphe dans le bandeau gauche*/
{
	margin-left: 10%;
	margin-right: 10%;
}
.underline
{
	border-bottom: solid 2px rgb(255,193,7);
}

.titre1
{
	font-size: 55px;
}
section
{
	display: flex;
	margin-top: 8px;
	padding-top: 8px;
}
article
{
	border-top:solid 2px rgb(255,193,7);
}
.dates
{
	width: 35%;
	display: flex;
	margin-right: 60px;
}
.dates i
{
	margin-right: 15px;
	margin-top: 5px;
}

#loisirs /* Div qui contient les icones loisirs*/
{
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px; margin-top: 30px;
	margin-left: 40px;margin-right: 40px;
	
}
#loisirs img /* Icones loisirs*/
{
	width: 25%;
}
.contenu_rec
{
	margin-top: 20px;
}
.fa-circle
{
	font-size: 10px;
}
strong
{
	font-size: 
}